body {
    background: white;
}

.container {
    display: block;
    margin: 0px auto;
    width: 50%;
}

#screen {
    width: 99.2%;
    margin: 1em 0 1em 0;
    font-size: 3em;
    text-align: right;
    font-family: fantasy;
}

.btn {
    width: 4em;
    height: 4em;
    margin: 1em;
    font-weight: bold;
    font-size: 1.2em;
    font-family: fantasy;
    border: 3px solid black;
    color: black;
    border-radius: 3px;
}

.btn:hover {
    background-color: #eeeeee;
}

.btn-success {
    background-color: #25fe7a;
}

.btn-warning {
    background-color: #ffee25;
}

.btn-danger {
    background-color: #ffd5d5;
}

.btn-primary {
    background-color: #d5d5ff;
}

